@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div>
    <div row>
        <aside class="col-md-4">

            <section class="user-info">
                <img src="/images/user.jpg" width="70" height="70"/>
                <h1>@Model.User.Name</h1>
            </section>
        

        </aside>
    </div>
</div>
